      <div class="account wrapper">  <!-- ===== START FLEX ===== -->

         <!-- ============== BEGIN PAGE CONTENTS ================= -->
         <div class="flex" ng-controller="AccountController as accountVM">
             <div class="detail" ng-if="accountVM.project.CurrentUserRole === 'Subscriber' || accountVM.project.CurrentUserRole === 'Admin'">
                 <div class="title flex">
                     <h2>ACCOUNT DETAILS</h2>
                     <a ng-click="accountVM.showCancelModal($event)">Cancel Account</a>
                 </div>

                 <p>
                     {{accountVM.project.Subscription.FirstName}} {{accountVM.project.Subscription.LastName}}<br>
                     {{accountVM.project.Subscription.Address1}} <br>
                     {{accountVM.project.Subscription.Address2}} <br>
                     {{accountVM.project.Subscription.City}}, {{accountVM.project.Subscription.State}} {{accountVM.project.Subscription.PostalCode}} <br>
                 </p>
             </div>
            <div class="detail" ng-if="accountVM.project.CurrentUserRole === 'Subscriber' || accountVM.project.CurrentUserRole === 'Admin'">
               <div class="title flex">
                  <h2>USERS</h2>
                  <a ui-sref="users">edit</a>
               </div>

               <p>
                  {{accountVM.project.ProjectUsers.length}}/{{accountVM.project.Subscription.UserCount}}
               </p>
               <ol>
                  <li ng-repeat="projectUser in accountVM.project.ProjectUsers track by projectUser.Id">{{projectUser.FirstName}} {{projectUser.LastName}} <a>{{projectUser.EmailAddress}}</a></li>
               </ol>
            </div>
             <div class="detail" ng-if="accountVM.project.CurrentUserRole === 'Subscriber' || accountVM.project.CurrentUserRole === 'Admin'">
                 <div class="title flex">
                     <h2>BILLING DETAILS</h2>
                     <a ng-click="accountVM.editBillingDetails()">edit</a>
                     <!--<a ng-click="accountVM.showCancelModal($event)">Cancel Account</a>-->
                 </div>

                 <p>
                     {{accountVM.project.Subscription.FirstName}} {{accountVM.project.Subscription.LastName}}<br>
                     {{accountVM.project.Subscription.Address1}} <br>
                     {{accountVM.project.Subscription.Address2}} <br>
                     {{accountVM.project.Subscription.City}}, {{accountVM.project.Subscription.State}} {{accountVM.project.Subscription.PostalCode}} <br>
                 </p>
                 <ul>
                     <!-- <li class="cardNumber">Card Number</li> -->
                     <li><input class="cc" type="text" placeholder="####"></li>
                     <li><input class="cc" type="text" placeholder="####"></li>
                     <li><input class="cc" type="text" placeholder="####"></li>
                     <li><input class="cc" type="text" placeholder="####"></li>
                 </ul>
                 <p class="clear">
                     09/16 <br>
                     Renee M. Walsh
                 </p>
             </div>
            <div class="detail" ng-if="accountVM.project.CurrentUserRole === 'Subscriber' || accountVM.project.CurrentUserRole === 'Admin'">
               <div class="title flex" layout-align="start start">
                  <h2>TOTAL CHARGED PER MONTH</h2>
                   <!--<a ng-click="accountVM.addUser()">Add Users+</a>-->
                   <!--<a ng-click="accountVM.removeUser()">Remove Users-</a>-->
               </div>

               <p>
                  {{accountVM.project.Subscription.UserCount * 5.00 | currency}}<br>
                  {{accountVM.project.Subscription.UserCount}} users
               </p>
            </div>
             <div class="detail">
                 <form name="userForm">
                 <div class="title flex">
                     <h2>USER DETAILS</h2>
                     <a ng-click="accountVM.editUser()">edit</a>
                 </div>
                     <div layout="row">
                         <img class="userPic" ng-src="{{accountVM.baseUrl}}/users/{{accountVM.user.Id}}/image?token={{accountVM.token}}">
                         <!--<md-input-container>-->
                             <!--<md-button class="md-raised md-accent"-->
                                        <!--ngf-pattern="'image/*'"-->
                                        <!--ngf-accept="'image/*'"-->
                                        <!--ngf-max-size="20MB"-->
                                        <!--ngf-select="accountVM.uploadPic($file)" name="file">Upload new photo</md-button>-->
                         <!--</md-input-container>-->
                     </div>
                 <div layout="row">
                     <md-input-container flex="100">
                         <label>Username/email</label>
                         <input ng-disabled="true" name="email" type="email" required ng-model="accountVM.user.UserName">
                         <div ng-messages="userForm.email.$error">
                             <div ng-message="required">Username/Email is required</div>
                         </div>
                     </md-input-container>
                 </div>
                 <div layout="row" flex="100">
                     <md-input-container>
                         <label>First Name</label>
                         <input ng-disabled="true" name="firstName" required ng-model="accountVM.user.FirstName">
                         <div ng-messages="userForm.firstName.$error">
                             <div ng-message="required">First Name is required</div>
                         </div>
                     </md-input-container>
                     <md-input-container>
                         <label>Last Name</label>
                         <input ng-disabled="true" name="lastName" required ng-model="accountVM.user.LastName">
                         <div ng-messages="userForm.lastName.$error">
                             <div ng-message="required">Last Name is required</div>
                         </div>
                         <!--<md-button class="md-accent md-raised" ng-click="accountVM.saveUser()">save</md-button>-->
                     </md-input-container>
                 </div>
                 <!--<div layout="row" flex="100">-->
                     <!--<md-input-container>-->
                         <!--<label>Old Password</label>-->
                         <!--<input required name="old_password" type="password" ng-model="accountVM.user.oldPassword">-->
                         <!--&lt;!&ndash;ng-pattern="passwordRegEx">&ndash;&gt;-->
                         <!--<div ng-messages="userForm.old_password.$error">-->
                             <!--<div ng-message="required">The old Password is required</div>-->
                         <!--</div>-->
                     <!--</md-input-container>-->
                 <!--</div>-->
                     <!--<div layout="row">-->
                         <!--<md-input-container>-->
                             <!--<label>Password</label>-->
                             <!--<input ng-pattern="accountVM.passwordRegEx" required name="password" type="password" ng-model="accountVM.user.password">-->
                             <!--<div ng-messages="userForm.password.$error">-->
                                 <!--<div ng-message="required">A Password is required</div>-->
                                 <!--<div ng-message="pattern">Password must be at least 8 characters and contain at least one uppercase letter, number, and special character.</div>-->
                             <!--</div>-->
                         <!--</md-input-container>-->
                         <!--<md-input-container>-->
                             <!--<label>Confirm Password</label>-->
                             <!--<input required name="password_confirm" type="password" ng-model="accountVM.user.password_confirm" compare-to="accountVM.user.password">-->
                             <!--<div ng-messages="userForm.password_confirm.$error">-->
                                 <!--<div ng-message="compareTo">The passwords do not match</div>-->
                             <!--</div>-->
                             <!--<md-button ng-disabled="userForm.password.$invalid && userForm.password_confirm.$invalid && userForm.old_password.$invalid" class="md-accent md-raised" ng-click="accountVM.changePassword()">Reset Password</md-button>-->
                         <!--</md-input-container>-->
                    <!--</div>-->
                 </form>
             </div>
             </p>
         </div>

      </div> <!-- ======== END WRAPPER ======== -->
